//COLORS

$color-light-grey-1: #faf8ea;
$color-light-grey-2: #a3a195;
$color-light-grey-3: #858377;

$color-dark-grey-1: #e4d7c9;
$color-dark-grey-2: #9a8c7f;
$color-dark-grey-3: #70665c;

$color-orange-1: #f9a84a;
$color-orange-2: #bc713e;
$color-orange-3: #8f552e;

$color-keypad-1: #322f2d;
$color-keypad-2: #1f1a17;

$color-screen: #1f1a17;
$color-screen-text: #71fffe;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

$font-button: 'Roboto', sans-serif;
$font-screen: 'ZCOOL QingKe HuangYou', cursive;
