.calculator {
  height: 65rem;
  width: 80rem;
  margin: 2rem auto;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include respond(large) {
    width: 100%;
  }
}